body {
	color: red;
	margin: 0;
}

nav {
	width: 100%;
	height: 40px;
	position: fixed;
	top: 0px;
	left: 0px;
	background:#dddddd;
}

.badge {
	margin: 5px 3%;
	width: 30px;
	float: left;
}

.navlist {
	width: 80%;
	margin: 13px;
	list-style: none;
	padding: 0;
	float: right;
}

li {
	margin-left: 2%;
	float: right;
}

a {
	color: blue;
	font-size: 15px;
	text-decoration:none;
}



.container {
	float: none;
	clear: both;
	padding: 0;
	margin-top: 40px;
	border-width: 0;
	width: 100%;
}

header {
	width: 100%;
	height: 230px;
	margin-top: 40px;
	background:url("../images/allianz_small.png");
	background-position: center top;
	margin: 0 auto;
	background-repeat: no-repeat;
}

.one_col {
	display: block;
	width: 100%;
	padding: 2%;
	text-align: center;
}